ScannerParser/Service References/GTPService/GTPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://upload.mygws.com/GTPWCF1/GTPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ShadowPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="shadowPassword" nillable="true" type="q1:_ShadowPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShadowPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShadowPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShadowPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShadowPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getShadowPasswordResult" nillable="true" type="q2:ArrayOf_ShadowPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblFTPFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="id_client_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_created" type="xs:dateTime" />
        <xs:element minOccurs="0" name="is_finished" type="xs:boolean" />
        <xs:element minOccurs="0" name="file_status" type="xs:int" />
        <xs:element minOccurs="0" name="file_name_only" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bytestrnsfrd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblFTPFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tblFTPFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetbFTPFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetbFTPFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatetbFTPFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileScannerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isScanner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileScannerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFileScannerStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetbFTPFileUploadTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uploadtime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetbFTPFileUploadTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatetbFTPFileUploadTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblFTPTrasaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" type="xs:int" />
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="id_client_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="transaction_type" type="xs:boolean" />
        <xs:element minOccurs="0" name="date_started" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="number_of_run" type="xs:short" />
        <xs:element minOccurs="0" name="number_of_app_fail" type="xs:short" />
        <xs:element minOccurs="0" name="id_market" type="xs:int" />
        <xs:element minOccurs="0" name="ftp_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="market_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_status" type="xs:short" />
        <xs:element minOccurs="0" name="DBName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total_file_uploaded" type="xs:int" />
        <xs:element minOccurs="0" name="campaign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalinputbytes" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblFTPTrasactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tblFTPTrasactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblDBStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" type="xs:int" />
        <xs:element minOccurs="0" name="status_notify" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status_flag" type="xs:int" />
        <xs:element minOccurs="0" name="MaintenanceStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="MaintenanceEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tblDBStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tblDBStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status_flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDBStatusResult" nillable="true" type="q3:ArrayOf_DBStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsUserinRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsUserinRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsUserinRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaign">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCampaignResult" nillable="true" type="q4:ArrayOf_Campaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetblFTPFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetblFTPFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletetblFTPFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMarketResult" nillable="true" type="q5:ArrayOf_MarketName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTotalFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="fail_count" type="xs:int" />
        <xs:element minOccurs="0" name="network_lost_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTotalFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTotalFailedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTotalUploaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="total_file_uploaded" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTotalUploadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTotalUploadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_market" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMarketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="completeTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="completeTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="completeTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCurrent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getVersionResult" nillable="true" type="q6:_GTPVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isFTPAccess" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserAccountResult" nillable="true" type="q7:ArrayOf_AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
        <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteQueryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_server_transaction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTransactionResult" nillable="true" type="q8:_FTPTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isFileExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isFileExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isFileExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetProjectResult" nillable="true" type="q9:ArrayOf_Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetClientResult" nillable="true" type="q10:ArrayOf_Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>